@import url('https://fonts.cdnfonts.com/css/harrypotter7');
@import url('https://fonts.cdnfonts.com/css/spqr');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

/* audio controls */
audio{
    display: flex;
    float: right;
    margin-top: 10px;
}
/* Harry Potter logo*/
#hp-title{
    display: flex;
    justify-content: center;
    position: fixed;
}

#hp-logo{
    height: auto;
    max-width: 30%;
}

/* background image */
body {
    background-image: url(../images/diagon-alley-background-image.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* house crests */
.row{
    display: flex;
}

.column{
    flex: 25%;
    padding: 5px;
}

div img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-top: 175px;
}

/* start button */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#start-button{
    height: 90px;
    width: 200px;
    font-size: 40px;
    text-align: left;
    font-family: 'harrypotter7', sans-serif;
    background-color: #d0d0d0;
    border: 1px solid #6c6c6c;
    margin: 0;
    margin-top: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* quiz area */
.quiz-container{
    background-image: url(../images/parchment-container.png);
    width: 90%;
    max-width: 650px;
    padding: 30px;
    position: relative;
    margin: 0 auto;
    top: 170px;
}

#question {
    font-family: 'harrypotter7', sans-serif;
    text-align: center;
    border-bottom: 1px solid #0000;
    padding: 10px 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 24px;
    margin: 1rem 0;
}

label{
    font-family: 'spqr', sans-serif;
    cursor: pointer;
}

button{
    background-color: black;
    color: #fff;
    border: none;
    position: relative;
    left: 25%;
    width: 50%;
    cursor: pointer;
    font-family: 'harrypotter7', sans-serif;
    padding: 1.3rem;
  }

  button:hover{
    background-color: #fff;
    color: black;
  }

  div h2{
    font-family: 'SPQR', sans-serif;
    text-align: center;
  }

  #quiz button {
    margin-top: 20px;
  }





